<%= form_for(@customer_order) do |f| %>
  <% if @customer_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

      <ul>
      <% @customer_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>

  Order <%= @order.order_date %>
  <%= f.hidden_field :order_id %>



  <%= select_tag :products, options_from_collection_for_select(@products, :id, :name) %>

  <%= text_field_tag :qty %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
