  <% if @customer_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_order.errors.count, "error") %> prohibited this customer_order from being saved:</h2>

      <ul>
      <% @customer_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    
  <% end %>


<p> Orden a pedirse el día <%= @customer_order.order.order_date %> </p> 
<p> Entrega tentativa: <%= @customer_order.order.delivery_date %> </p> 
<%= form_for(:customer_order, :url => add_item_path) do |f| %>
  <%= f.hidden_field :id, :value => @customer_order.id %>

 <br />
 <div class="field">
  <%= select_tag :p_id, options_from_collection_for_select(@products, :id, :display_name) %>

  <%= number_field_tag :p_qty, nil, :placeholder => 'Cantidad', :autocomplete => 'off', :min => 0 %>

    <%= f.submit "Agregar cápsulas" %>
<% end %>
  </div>
<% unless @customer_order.customer_order_line_products.empty? %>

<table>

  <tr>
    <th>Cápsula</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th></th>
  </tr>

<% @customer_order.customer_order_line_products.each do |colp| %>

  <tr>
	<td><%= "#{colp.product.name}" %></td> 
	<td><%= "#{colp.qty}" %></td> 
	<td><%= "#{(colp.price_per_item_in_cents).to_f/100}€" %></td> 
    <%= form_for(:customer_order, :url => delete_item_path) do |f| %>
    <%= f.hidden_field :id, :value => @customer_order.id %>
    <%= f.hidden_field :p_id, :value => colp.product_id %>

	<td><%= f.submit "Borrar" %></td> 
	<% end %>
	
  </tr>
<% end %>
</table>
<h3>Total <%= "#{@total.to_f/100}€" %></h3>
<% end %>
