<p id="notice"><%= notice %></p>

<h2>Orden día <%= @customer_order.order.order_date %> </h2>

<p>User <%= @customer_order.user.email unless @customer_order.user.nil? %></p>

<table>
<% @customer_order.customer_order_line_products.each do |p| %>
	<tr>
		<td><%= p.product.name %></td>
		<td><%= p.qty %></td>
		<td><%= p.price_per_item_in_cents %></td>
	</tr>
<% end %>
<table>
	
<h2>Total <%= "#{@total.to_f/100}€" %></h2>


<% if is_admin? %>
	<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
	<%= link_to 'Back', customer_orders_path %> |
<% end %>
<%= link_to 'Account', root_path %>

