<p id="notice"><%= notice %></p>

<h2>Orden día <%= @customer_order.order.order_date %> </h2>

<p>User <%= @customer_order.user.email unless @customer_order.user.nil? %></p>

<table>
  <thead>
	<tr>
		<th>Cápsula</th>
		<th>Cantidad</th>
		<th>Precio</th>		
	</tr>
  </thead>
  <tbody>
<% @customer_order.customer_order_line_products.each do |p| %>
	<tr>
		<td><%= p.product.name %></td>
		<td><%= p.qty %></td>
		<td><%= "#{p.price_per_item_in_cents/100.0}€" %></td>
	</tr>
<% end %>
  </tbody>
  <tfoot>
  	<tr>
  		<td colspan='3'>Total <%= "#{@total.to_f/100}€" %></td>
  	</tr>
  </tfoot>
<table>


<% if is_admin? %>
	<%= link_to 'Edit', edit_customer_order_path(@customer_order) %> |
	<%= link_to 'Back', customer_orders_path %> |
<% end %>
<%= link_to 'Account', root_path %>

