<p id="notice"><%= notice %></p>

<p>
  <b>Order date:</b>
  <%= @order.order_date %>
</p>

<p>
  <b>Delivery date:</b>
  <%= @order.delivery_date %>
</p>

<p>
  <b>Total in cents:</b>
  <%= @order.total_in_cents %>
</p>

<% @order.customer_orders.each do |co| %>
<p>
  <b>Customer Order:</b>
  <%= link_to "#{co.id}", co %> <b>Email:</b> <%= co.user.email unless co.user.nil? %>
</p>

<% end %>

Orden

<table>
<% @order_items.each do |k,v| %>
	<tr>
		<td><%= v %></td>
		<td><%= k.name %></td>
	</tr>
<% end %>
</table>
<h2>Total <%= "#{@total_order.to_f/100}€" %></h2>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
