<h2>Cuenta</h2>



<% unless @open_customer_order.nil? %>
<h3>Ordenes Actuales</h3>
<p><%= link_to 'Modifica', edit_customer_order_path(@open_customer_order) %> el pedido para el día  <%= @open_customer_order.order.order_date %></p>
 
<% end %>
<% unless @open_order.nil? %>
<% form_for(:customer_order, :url => customer_orders_path) do |f| %>
<%= f.hidden_field :order_id, :value =>  @open_order.id %>
<%= f.hidden_field :user_id, :value => signed_in_user.id %>
<%= f.submit "Agregar cápsulas a un pedido"%>
<% end %>


<% end %>

<% unless @prev_orders.empty? %>	

	<h3>Ordenes anteriores</h3>

<% end %>
<% @prev_orders.each do |po| %>

<%= link_to po.order.order_date, customer_order_path(po) %>

<% end %>
